In [1]:
# Import libraries
import os
import sys
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load the data from the CSV file
price_data = pd.read_csv('./data/CCL_historical_data.csv')
price_data

,datetime,o,h,l,c,v,readable_time
0,1571228400000,42.49,42.4900,42.49,42.49,270,2019-10-16 07:20:00
1,1571229300000,42.50,42.5000,42.50,42.50,400,2019-10-16 07:35:00
2,1571232300000,42.69,42.7300,42.69,42.73,3139,2019-10-16 08:25:00
3,1571232600000,42.65,42.7200,42.50,42.68,102539,2019-10-16 08:30:00
4,1571232900000,42.68,42.8622,42.62,42.82,45839,2019-10-16 08:35:00
...,...,...,...,...,...,...,...
25444,1593646500000,16.45,16.4800,16.44,16.48,1584,2020-07-01 18:35:00
25445,1593646800000,16.48,16.4800,16.44,16.48,1100,2020-07-01 18:40:00
25446,1593647100000,16.48,16.4900,16.48,16.49,2193,2020-07-01 18:45:00
25447,1593647400000,16.48,16.4800,16.45,16.47,3243,2020-07-01 18:50:00
25448,1593647700000,16.46,16.4700,16.45,16.45,1253,2020-07-01 18:55:00

In [2]:
# Add a "Change in price" column
price_data['change_in_price'] = price_data['c'].diff()
price_data.head()

,datetime,o,h,l,c,v,readable_time,change_in_price
0,1571228400000,42.49,42.4900,42.49,42.49,270,2019-10-16 07:20:00,NaN
1,1571229300000,42.50,42.5000,42.50,42.50,400,2019-10-16 07:35:00,0.01
2,1571232300000,42.69,42.7300,42.69,42.73,3139,2019-10-16 08:25:00,0.23
3,1571232600000,42.65,42.7200,42.50,42.68,102539,2019-10-16 08:30:00,-0.05
4,1571232900000,42.68,42.8622,42.62,42.82,45839,2019-10-16 08:35:00,0.14

In [3]:
# Calculate 20 EMA (short term)
ema_20 = price_data['c'].transform(lambda x: x.ewm(span = 20).mean())
price_data['EMA_20'] = ema_20

# Calculate 200 EMA (long term)
ema_200 = price_data['c'].transform(lambda x: x.ewm(span = 200).mean())
price_data['EMA_200'] = ema_200

#  Calculate MACD 
ema_26 = price_data['c'].transform(lambda x: x.ewm(span = 26).mean())
ema_12 = price_data['c'].transform(lambda x: x.ewm(span = 12).mean())
macd = ema_12 - ema_26

ema_9_macd = macd.ewm(span = 9).mean()

# Store the data in the data fram
price_data['MACD'] = macd
price_data['MACD_EMA'] = ema_9_macd
price_data['MACD_Diff'] = macd - ema_9_macd

price_data.tail(50)

,datetime,o,h,l,c,v,readable_time,change_in_price,EMA_20,EMA_200,MACD,MACD_EMA,MACD_Diff
25399,1593632700000,16.3700,16.4100,16.3400,16.3900,252622,2020-07-01 14:45:00,0.0250,16.362358,16.455167,-0.010038,-0.027756,0.017718
25400,1593633000000,16.3900,16.3900,16.2950,16.3450,382601,2020-07-01 14:50:00,-0.0450,16.360705,16.454070,-0.010700,-0.024345,0.013644
25401,1593633300000,16.3400,16.3700,16.3050,16.3600,652604,2020-07-01 14:55:00,0.0150,16.360638,16.453134,-0.009900,-0.021456,0.011555
25402,1593633600000,16.3600,16.3900,16.3001,16.3100,390074,2020-07-01 15:00:00,-0.0500,16.355815,16.451710,-0.013150,-0.019795,0.006645
25403,1593633900000,16.3600,16.3600,16.3200,16.3600,1206,2020-07-01 15:05:00,0.0500,16.356214,16.450798,-0.011557,-0.018147,0.006590
25404,1593634200000,16.3601,16.4000,16.3601,16.3700,3576,2020-07-01 15:10:00,0.0100,16.357527,16.449994,-0.009380,-0.016394,0.007014
25405,1593634500000,16.3600,16.3600,16.3500,16.3500,4325,2020-07-01 15:15:00,-0.0200,16.356810,16.448999,-0.009162,-0.014947,0.005785
25406,1593634800000,16.3600,16.3601,16.3600,16.3600,6026,2020-07-01 15:20:00,0.0100,16.357114,16.448113,-0.008090,-0.013576,0.005486
25407,1593635100000,16.3600,16.3600,16.3600,16.3600,1274,2020-07-01 15:25:00,0.0000,16.357388,16.447236,-0.007157,-0.012292,0.005135
25408,1593635400000,16.3600,16.3700,16.3600,16.3600,500,2020-07-01 15:30:00,0.0000,16.357637,16.446368,-0.006345,-0.011103,0.004757
25409,1593635700000,16.3600,16.3700,16.3600,16.3700,2399,2020-07-01 15:35:00,0.0100,16.358815,16.445608,-0.004839,-0.009850,0.005011
25410,1593636000000,16.3800,16.4200,16.3800,16.4200,13262,2020-07-01 15:40:00,0.0500,16.364642,16.445354,0.000385,-0.007803,0.008188
25411,1593636300000,16.4200,16.4200,16.4100,16.4200,2200,2020-07-01 15:45:00,0.0000,16.369914,16.445101,0.004473,-0.005348,0.009821
25412,1593636600000,16.4100,16.4500,16.3500,16.4100,7627,2020-07-01 15:50:00,-0.0100,16.373732,16.444752,0.006828,-0.002913,0.009740
25413,1593636900000,16.4400,16.4400,16.3500,16.3500,1224,2020-07-01 15:55:00,-0.0600,16.371472,16.443809,0.003808,-0.001568,0.005377
25414,1593637200000,16.3800,16.4200,16.3800,16.3800,447,2020-07-01 16:00:00,0.0300,16.372284,16.443174,0.003792,-0.000496,0.004289
25415,1593637500000,16.3900,16.3900,16.3900,16.3900,100,2020-07-01 16:05:00,0.0100,16.373971,16.442645,0.004534,0.000510,0.004025
25416,1593637800000,16.4000,16.4198,16.4000,16.4000,1084,2020-07-01 16:10:00,0.0100,16.376450,16.442221,0.005862,0.001580,0.004282
25417,1593638100000,16.4200,16.4298,16.4100,16.4100,666,2020-07-01 16:15:00,0.0100,16.379645,16.441900,0.007633,0.002791,0.004842
25418,1593638400000,16.4002,16.4200,16.4002,16.4002,652,2020-07-01 16:20:00,-0.0098,16.381603,16.441485,0.008151,0.003863,0.004289
25419,1593638700000,16.4200,16.4200,16.4200,16.4200,1249,2020-07-01 16:25:00,0.0198,16.385260,16.441272,0.010044,0.005099,0.004945
25420,1593639000000,16.4200,16.4300,16.4200,16.4300,2200,2020-07-01 16:30:00,0.0100,16.389521,16.441159,0.012211,0.006522,0.005689
25421,1593639300000,16.4200,16.4400,16.4200,16.4400,1158,2020-07-01 16:35:00,0.0100,16.394328,16.441148,0.014567,0.008131,0.006436
25422,1593639600000,16.4400,16.4500,16.4400,16.4400,1799,2020-07-01 16:40:00,0.0000,16.398678,16.441137,0.016246,0.009754,0.006493
25423,1593639900000,16.4300,16.4500,16.4100,16.4400,5559,2020-07-01 16:45:00,0.0000,16.402613,16.441125,0.017377,0.011278,0.006099
25424,1593640200000,16.4400,16.4500,16.4400,16.4500,358,2020-07-01 16:50:00,0.0100,16.407126,16.441214,0.018863,0.012795,0.006068
25425,1593640500000,16.4500,16.4500,16.4200,16.4500,8306,2020-07-01 16:55:00,0.0000,16.411210,16.441301,0.019812,0.014199,0.005613
25426,1593640800000,16.4800,16.4900,16.4800,16.4900,1399,2020-07-01 17:00:00,0.0400,16.418713,16.441786,0.023521,0.016063,0.007458
25427,1593641100000,16.4900,16.4900,16.4200,16.4200,3694,2020-07-01 17:05:00,-0.0700,16.418836,16.441569,0.020574,0.016965,0.003609
25428,1593641700000,16.4201,16.4300,16.4201,16.4300,800,2020-07-01 17:15:00,0.0100,16.419899,16.441454,0.018829,0.017338,0.001491
25429,1593642000000,16.4500,16.4500,16.4300,16.4300,2328,2020-07-01 17:20:00,0.0000,16.420861,16.441340,0.017247,0.017320,-0.000073
25430,1593642300000,16.4300,16.4600,16.4300,16.4600,1913,2020-07-01 17:25:00,0.0300,16.424589,16.441525,0.018205,0.017497,0.000708
25431,1593642600000,16.4400,16.4900,16.4400,16.4900,700,2020-07-01 17:30:00,0.0300,16.430818,16.442008,0.021140,0.018226,0.002915
25432,1593642900000,16.4500,16.4800,16.4400,16.4400,1628,2020-07-01 17:35:00,-0.0500,16.431693,16.441988,0.019211,0.018423,0.000788
25433,1593643200000,16.4800,16.4900,16.4800,16.4900,400,2020-07-01 17:40:00,0.0500,16.437246,16.442465,0.021469,0.019032,0.002437
25434,1593643500000,16.4700,16.4700,16.4600,16.4600,1500,2020-07-01 17:45:00,-0.0300,16.439413,16.442640,0.020600,0.019345,0.001254
25435,1593643800000,16.4600,16.4600,16.4400,16.4500,2400,2020-07-01 17:50:00,-0.0100,16.440421,16.442713,0.018887,0.019254,-0.000367
25436,1593644100000,16.4400,16.4500,16.4400,16.4400,1852,2020-07-01 17:55:00,-0.0100,16.440381,16.442686,0.016532,0.018709,-0.002178
25437,1593644400000,16.4400,16.4400,16.4400,16.4400,100,2020-07-01 18:00:00,0.0000,16.440345,16.442659,0.014498,0.017867,-0.003369
25438,1593644700000,16.4800,16.4900,16.4400,16.4900,946,2020-07-01 18:05:00,0.0500,16.445074,16.443130,0.016728,0.017639,-0.000911
25439,1593645000000,16.4800,16.4900,16.4800,16.4900,1343,2020-07-01 18:10:00,0.0000,16.449353,16.443597,0.018285,0.017768,0.000516
25440,1593645300000,16.5000,16.5000,16.5000,16.5000,220,2020-07-01 18:15:00,0.0100,16.454176,16.444158,0.020094,0.018233,0.001860
25441,1593645600000,16.4900,16.4901,16.4900,16.4901,5100,2020-07-01 18:20:00,-0.0099,16.457597,16.444615,0.020492,0.018685,0.001807
25442,1593645900000,16.4999,16.5000,16.4900,16.4900,1486,2020-07-01 18:25:00,-0.0001,16.460683,16.445067,0.020563,0.019061,0.001502
25443,1593646200000,16.4800,16.4900,16.4800,16.4900,690,2020-07-01 18:30:00,0.0000,16.463475,16.445514,0.020384,0.019325,0.001059
25444,1593646500000,16.4500,16.4800,16.4400,16.4800,1584,2020-07-01 18:35:00,-0.0100,16.465049,16.445857,0.019214,0.019303,-0.000089
25445,1593646800000,16.4800,16.4800,16.4400,16.4800,1100,2020-07-01 18:40:00,0.0000,16.466473,16.446197,0.018078,0.019058,-0.000980
25446,1593647100000,16.4800,16.4900,16.4800,16.4900,2193,2020-07-01 18:45:00,0.0100,16.468714,16.446633,0.017780,0.018802,-0.001023
25447,1593647400000,16.4800,16.4800,16.4500,16.4700,3243,2020-07-01 18:50:00,-0.0200,16.468836,16.446865,0.015748,0.018192,-0.002443
25448,1593647700000,16.4600,16.4700,16.4500,16.4500,1253,2020-07-01 18:55:00,-0.0200,16.467042,16.446896,0.012381,0.017030,-0.004648