In [1]:
# Import libraries
import os
import sys
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import plot_roc_curve
from sklearn.metrics import accuracy_score, classification_report

In [2]:
# Load the data from the CSV file
price_data = pd.read_csv('./data/CCL_historical_data.csv')
price_data

           datetime      o      h      l      c      v        readable_time
0     1569830400000  43.81  43.81  43.46  43.48    700  2019-09-30 03:00:00
1     1569832200000  43.30  43.30  43.30  43.30    300  2019-09-30 03:30:00
2     1569834000000  43.51  43.51  43.50  43.50    252  2019-09-30 04:00:00
3     1569837600000  43.51  43.51  43.50  43.50    300  2019-09-30 05:00:00
4     1569841200000  43.81  43.81  43.81  43.81    300  2019-09-30 06:00:00
...             ...    ...    ...    ...    ...    ...                  ...
4631  1591997400000  19.77  19.79  19.65  19.65  62906  2020-06-12 16:30:00
4632  1591999200000  19.65  19.77  19.60  19.73  26396  2020-06-12 17:00:00
4633  1592001000000  19.70  19.79  19.67  19.73  25103  2020-06-12 17:30:00
4634  1592002800000  19.73  19.90  19.72  19.90  44131  2020-06-12 18:00:00
4635  1592004600000  19.90  19.92  19.81  19.85  48426  2020-06-12 18:30:00

[4636 rows x 7 columns]

In [3]:
# Add a "Change in price" column
price_data['change_in_price'] = price_data['c'].diff()

In [4]:
price_data.head()

,datetime,o,h,l,c,v,readable_time,change_in_price
0,1569830400000,43.81,43.81,43.46,43.48,700,2019-09-30 03:00:00,NaN
1,1569832200000,43.30,43.30,43.30,43.30,300,2019-09-30 03:30:00,-0.18
2,1569834000000,43.51,43.51,43.50,43.50,252,2019-09-30 04:00:00,0.20
3,1569837600000,43.51,43.51,43.50,43.50,300,2019-09-30 05:00:00,0.00
4,1569841200000,43.81,43.81,43.81,43.81,300,2019-09-30 06:00:00,0.31

In [5]:
# Let's smooth out the data to remove some randomness and noise

# Define the number of frequency intervals you want to predict (in this case, 1 minute)
interval_out = 25 # So roughly 1 day out

# Grou p by symbol, then apply the rolling function and grab the min/max
price_data_smoothed = price_data[['c','l','h','o','v']].transform(lambda x: x.ewm(span = interval_out).mean())
    
smoothed_df = pd.concat([price_data[['datetime','readable_time']], price_data_smoothed], axis = 1, sort=False)
smoothed_df

,datetime,readable_time,c,l,h,o,v
0,1569830400000,2019-09-30 03:00:00,43.480000,43.460000,43.810000,43.810000,7.000000e+02
1,1569832200000,2019-09-30 03:30:00,43.386400,43.376800,43.544800,43.544800,4.920000e+02
2,1569834000000,2019-09-30 04:00:00,43.427335,43.421194,43.532260,43.532260,4.055181e+02
3,1569837600000,2019-09-30 05:00:00,43.447737,43.443320,43.526010,43.526010,3.758921e+02
4,1569841200000,2019-09-30 06:00:00,43.532226,43.528839,43.592244,43.592244,3.581922e+02
...,...,...,...,...,...,...,...
4631,1591997400000,2020-06-12 16:30:00,19.389961,19.164282,19.582007,19.371606,2.112672e+06
4632,1591999200000,2020-06-12 17:00:00,19.416118,19.197798,19.596468,19.393021,1.952189e+06
4633,1592001000000,2020-06-12 17:30:00,19.440263,19.234122,19.611355,19.416635,1.803951e+06
4634,1592002800000,2020-06-12 18:00:00,19.475627,19.271497,19.633558,19.440740,1.668581e+06
4635,1592004600000,2020-06-12 18:30:00,19.504425,19.312920,19.655592,19.476068,1.543953e+06

In [6]:
smoothed_df['Signal_Flag'] = smoothed_df['datetime'].transform(lambda x: np.sign(x.diff(interval_out)))

smoothed_df.head(50)

,datetime,readable_time,c,l,h,o,v,Signal_Flag
0,1569830400000,2019-09-30 03:00:00,43.480000,43.460000,43.810000,43.810000,700.000000,NaN
1,1569832200000,2019-09-30 03:30:00,43.386400,43.376800,43.544800,43.544800,492.000000,NaN
2,1569834000000,2019-09-30 04:00:00,43.427335,43.421194,43.532260,43.532260,405.518124,NaN
3,1569837600000,2019-09-30 05:00:00,43.447737,43.443320,43.526010,43.526010,375.892141,NaN
4,1569841200000,2019-09-30 06:00:00,43.532226,43.528839,43.592244,43.592244,358.192175,NaN
5,1569844800000,2019-09-30 07:00:00,43.586236,43.583532,43.644233,43.640199,850.702953,NaN
6,1569846600000,2019-09-30 07:30:00,43.633517,43.613384,43.681114,43.659889,997.084516,NaN
7,1569848400000,2019-09-30 08:00:00,43.675238,43.638860,43.715093,43.677800,1314.108147,NaN
8,1569850200000,2019-09-30 08:30:00,43.656475,43.620303,43.775756,43.697607,53073.491370,NaN
9,1569852000000,2019-09-30 09:00:00,43.657665,43.606297,43.765876,43.676296,72686.288569,NaN
10,1569853800000,2019-09-30 09:30:00,43.678654,43.612039,43.776930,43.675469,88438.867251,NaN
11,1569855600000,2019-09-30 10:00:00,43.693152,43.623000,43.784166,43.692233,103752.263945,NaN
12,1569857400000,2019-09-30 10:30:00,43.703482,43.632159,43.790331,43.704456,126738.945950,NaN
13,1569859200000,2019-09-30 11:00:00,43.713928,43.646751,43.794859,43.712508,131617.219154,NaN
14,1569861000000,2019-09-30 11:30:00,43.721199,43.657013,43.799827,43.722137,140368.614719,NaN
15,1569862800000,2019-09-30 12:00:00,43.730126,43.664787,43.800910,43.728833,141528.116605,NaN
16,1569864600000,2019-09-30 12:30:00,43.741493,43.675672,43.806506,43.736196,143417.543647,NaN
17,1569866400000,2019-09-30 13:00:00,43.747893,43.686187,43.810386,43.746153,159310.165438,NaN
18,1569868200000,2019-09-30 13:30:00,43.766311,43.694437,43.824129,43.752438,165451.371972,NaN
19,1569870000000,2019-09-30 14:00:00,43.771003,43.704609,43.834870,43.769066,175606.684232,NaN
20,1569871800000,2019-09-30 14:30:00,43.766182,43.705119,43.840081,43.773881,245442.835575,NaN
21,1569873600000,2019-09-30 15:00:00,43.760963,43.705572,43.854936,43.767947,276148.203284,NaN
22,1569875400000,2019-09-30 15:30:00,43.756304,43.705977,43.841685,43.762649,250941.189670,NaN
23,1569877200000,2019-09-30 16:00:00,43.765649,43.719858,43.843335,43.771422,228343.786222,NaN
24,1569880800000,2019-09-30 17:00:00,43.760699,43.718981,43.832365,43.766848,208276.771804,NaN
25,1569882600000,2019-09-30 17:30:00,43.756243,43.718192,43.821610,43.761852,189979.875633,1.0
26,1569924000000,2019-10-01 05:00:00,43.747876,43.713133,43.807560,43.752997,173485.213094,1.0
27,1569925800000,2019-10-01 05:30:00,43.730844,43.699091,43.785390,43.735524,158569.497305,1.0
28,1569927600000,2019-10-01 06:00:00,43.717977,43.688933,43.767872,43.722259,145061.380299,1.0
29,1569931200000,2019-10-01 07:00:00,43.703769,43.672952,43.755364,43.713609,133002.570430,1.0
30,1569933000000,2019-10-01 07:30:00,43.690021,43.660952,43.738125,43.699875,121955.393556,1.0
31,1569934800000,2019-10-01 08:00:00,43.695855,43.650870,43.740782,43.690716,113195.240644,1.0
32,1569936600000,2019-10-01 08:30:00,43.692057,43.645828,43.776332,43.699768,167735.163491,1.0
33,1569938400000,2019-10-01 09:00:00,43.654011,43.603767,43.769223,43.693200,184129.643093,1.0
34,1569940200000,2019-10-01 09:30:00,43.581615,43.533028,43.725882,43.653628,226679.987133,1.0
35,1569942000000,2019-10-01 10:00:00,43.533404,43.463107,43.668360,43.580805,264315.478775,1.0
36,1569943800000,2019-10-01 10:30:00,43.463770,43.395525,43.622254,43.533690,279145.715356,1.0
37,1569945600000,2019-10-01 11:00:00,43.388743,43.323992,43.546946,43.464729,274447.679326,1.0
38,1569947400000,2019-10-01 11:30:00,43.321249,43.259696,43.475573,43.390315,266286.707544,1.0
39,1569949200000,2019-10-01 12:00:00,43.249382,43.192364,43.401355,43.322533,259798.556261,1.0
40,1569951000000,2019-10-01 12:30:00,43.167508,43.113049,43.322920,43.250398,283150.116274,1.0
41,1569952800000,2019-10-01 13:00:00,43.109536,43.036308,43.256548,43.169078,292119.008905,1.0
42,1569954600000,2019-10-01 13:30:00,43.067853,42.988524,43.208347,43.110744,281882.534968,1.0
43,1569956400000,2019-10-01 14:00:00,43.043055,42.954953,43.177565,43.069467,285474.617831,1.0
44,1569958200000,2019-10-01 14:30:00,43.000110,42.918976,43.143753,43.044204,308326.303037,1.0
45,1569960000000,2019-10-01 15:00:00,42.959858,42.885126,43.092166,43.000472,311120.938084,1.0
46,1570008600000,2019-10-02 04:30:00,42.900016,42.831170,43.021905,42.937432,286667.879736,1.0
47,1570012200000,2019-10-02 05:30:00,42.829267,42.765832,42.943146,42.864527,264227.474683,1.0
48,1570014000000,2019-10-02 06:00:00,42.764189,42.705732,42.876979,42.796682,243689.015305,1.0
49,1570015800000,2019-10-02 06:30:00,42.709012,42.655136,42.812964,42.738959,224629.361341,1.0

In [7]:
# Calculate the 25 interval(30 minute) RSI (so roughly 1 day)
n = 25
up_df, down_df = price_data[['datetime','change_in_price']].copy(), price_data[['datetime','change_in_price']].copy()

up_df.loc['change_in_price'] = up_df.loc[(up_df['change_in_price'] < 0), 'change_in_price'] = 0
down_df.loc['change_in_price'] = down_df.loc[(down_df['change_in_price'] > 0), 'change_in_price'] = 0

# We can obly have positive values so change negative down days to their absolute value
down_df['change_in_price'] = down_df['change_in_price'].abs()

# Calculate the EQMA (Exponential Weighted Moving Average), meaning older values are given less weight compared
#  new values
ewma_up = up_df['change_in_price'].transform(lambda x: x.ewm(span = n).mean())
ewma_down = down_df['change_in_price'].transform(lambda x: x.ewm(span = n).mean())

# # Calculate Relative Strength
relative_strength = ewma_up / ewma_down

# Calculate Relative Strength Index (RSI)
relative_strength_index = 100.0 - (100 / (1.0 + relative_strength))

# Add data into the data frame
price_data['down_days'] = down_df['change_in_price']
price_data['up_days'] = down_df['change_in_price']
price_data['RSI'] = relative_strength_index

price_data.head()

,datetime,o,h,l,c,v,readable_time,change_in_price,down_days,up_days,RSI
0,1569830400000,43.81,43.81,43.46,43.48,700,2019-09-30 03:00:00,NaN,NaN,NaN,NaN
1,1569832200000,43.30,43.30,43.30,43.30,300,2019-09-30 03:30:00,-0.18,0.18,0.18,0.000000
2,1569834000000,43.51,43.51,43.50,43.50,252,2019-09-30 04:00:00,0.20,0.00,0.00,54.621849
3,1569837600000,43.51,43.51,43.50,43.50,300,2019-09-30 05:00:00,0.00,0.00,0.00,54.621849
4,1569841200000,43.81,43.81,43.81,43.81,300,2019-09-30 06:00:00,0.31,0.00,0.00,77.238366