In [1]:
import pandas as pd

data = {'timestamp': ['1', '2', '3'],
        'symbol': ['CCL', 'CCL', 'CCL'],
        'price': [100, 200, 300]}

df = pd.DataFrame(data, columns = ['timestamp', 'symbol', 'price'])


df = df.set_index('timestamp')

df

df.at['2', 'price'] = 4
df.at['4', 'another'] = 'hi'

df

          symbol  price another
timestamp
1            CCL  100.0     NaN
2            CCL    4.0     NaN
3            CCL  300.0     NaN
4            NaN    NaN      hi

In [ ]:
response = {
            'data': [
                {
                    'command': 'SUBS',
                    'content': [
                        {  
                            '1': 13.8,
                           '10': 48059,
                           '11': 48061,
                           '12': 14.14,
                           '13': 13.72,
                           '14': ' ',
                           '2': 13.81,
                           '3': 13.8001,
                           '4': 15,
                           '5': 44,
                           '6': 'N',
                           '7': 'N',
                           '8': 13128063,
                           '9': 1,
                           'assetMainType': 'EQUITY',
                           'cusip': '143658300',
                           'delayed': False,
                           'key': 'CCL'
                        }],
                    'service': 'QUOTE',
                    'timestamp': 1604686862306
                }
            ]
}